/* Google-fonts: */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');

/* CSS-variables for colors and typographys: */ 

:root{
--main-button-font: 'Roboto Slab', serif;
--main-header-font: 'Playfair Display', serif;
--main-text-font: 'Peddana', serif;
}

*{
 box-sizing: border-box;   
}

body{
margin: 0;
padding: 0;   
background-color: black; 

}

@media screen and (max-width:767px){
    .menu li, a {
        color: white;
        list-style: none;
        text-decoration: none;
        font-family: var(--main-headingfont);
        }
     
        
        .header{
            background-color: crimson;
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
            position: fixed;
            width: 100%;
            z-index: 3;
            border-bottom: 1px solid white;
        }
        
        .header ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        
            
        }
        
        .header ul a{
        display: block;
        outline: 1px solid crimson;
        outline-style:solid;
        padding: 20px;
      
        }
        
        .header ul a:hover{
        background-color:crimson;
        color: white;
        }
        
        .header .logo{
        float: left;
        display: block;
        }
        
        .header .menu{
        clear: both;
        max-height: 0;
        transition:max-height .2s ease-out;
            
        }
        
        #logo{
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 18px;
      border: 1px solid white;
        }
        
        .header .menu-icon{
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;
        }
        
        
        .header .menu-icon .nav-icon{
        background-color: white;
        display: block;
        height: 2px;
        top: 5px;
        width: 18px;
        position: relative;
        transition:background 2.s ease-out;
        }
        
        .header .menu-icon .nav-icon:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition:all .2 ease-out;
        top: 10px;
        background: white;
        }
        
        .header .menu-icon .nav-icon:after{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 5px;
        position: absolute;
        transition:all .2 ease-out;
        background:white;
            
        /* check her */
        }
        
        .header .menu-button{
            display: none;
                
            }
        
        .header .menu-button:checked ~ .menu{
        max-height: 350px;    
        }

}

