/* Google-fonts: */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');


/* #8D2BFA */
/* CSS-variables for colors and typographys: */ 

:root{
--main-button-font: 'Roboto Slab', serif;
--main-header-font: 'Playfair Display', serif;
--main-text-font: 'Peddana', serif;
}

*{
 box-sizing: border-box;   
}

body{
margin: 0;
padding: 0;   

}

@media screen and (max-width:767px){
    .menu li, a {
        color: white;
        list-style: none;
        text-decoration: none;
        font-family: var(--main-headingfont);
        }
     
        
        .header{
            background-color:#8D2BFA;
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
            position: fixed;
            width: 100%;
            z-index: 3;
            border-bottom: 1px solid white;
        }
        
        .header ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        
            
        }
        
        .header ul a{
        display: block;
        outline: 1px solid crimson;
        outline-style:solid;
        padding: 20px;
      
        }
        
        .header ul a:hover{
        background-color:crimson;
        color: white;
        }
        
        .header .logo{
        float: left;
        display: block;
        }
        
        .header .menu{
        clear: both;
        max-height: 0;
        transition:max-height .2s ease-out;
            
        }
        
        #logo{
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 18px;
      border: 1px solid white;
        }
        
        .header .menu-icon{
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;
        }
        
        
        .header .menu-icon .nav-icon{
        background-color: white;
        display: block;
        height: 2px;
        top: 5px;
        width: 18px;
        position: relative;
        transition:background 2.s ease-out;
        }
        
        .header .menu-icon .nav-icon:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition:all .2 ease-out;
        top: 10px;
        background: white;
        }
        
        .header .menu-icon .nav-icon:after{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 5px;
        position: absolute;
        transition:all .2 ease-out;
        background:white;
            
        /* check her */
        }
        
        .header .menu-button{
            display: none;
                
            }
        
        .header .menu-button:checked ~ .menu{
        max-height: 350px;    
        }

    .fixed{
     width: auto;
     margin-left: auto;
     margin-right: auto;
     height: 350px;
     background-image: url(../images/hero-bg.png);
     background-size: cover;
     background-attachment:fixed;
    }

.content-box{
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
background-color: #8D2BFA;
}

#introduction_content{
width: 100%;
height: 300px;
display: flex;
flex-flow: column;
align-items: center;
justify-content: center;  
color: white;
}

.text-font{
font-family: var(--main-text-font);   
color: white; 
width: 90%;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.Header{
font-family: var(--main-header-font);   
margin: 0;
color: white;
width: 90%;
text-align: center;
margin-left: auto;
margin-right: auto;
}

#CTAPortefolio{
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 0.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
    margin: 0px 5px;
    font-family: var(--main-button-font);   
}

#font1{
margin: 0; 
}

#CTAPortefolio:hover{
    color: black;
    background-color: crimson; 
}

.container{
 
}

#aboutMe{
    background-color: #F7AA0F;
}

#aboutMe_content, .introduction_mySkills{
width: 100%;    
height: auto;
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
}

#picture-box, .skill-box{
width: 100%;
height: auto;
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: space-around;
}

.picture-frame{
width: 40%;
height: auto;
}

.picture-frame img{
width: 99.9%;
}

#factsAboutMe, .skill-description-box{
width: 100%;
height: 200px;
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: flex-start;
}

.spacing{
text-align: start;
margin-top: 10px;
}
.marginTop{
margin-top: 10px;
}

#factnumber_box{
width: 100%;
height: auto;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
align-content: space-around;
}

.factNumber_content{
width: 40%;
height: auto;
text-align: center;
height: 80px;
}

.color{
color:crimson; <
margin-top: 5px;

}

#MySkills{
background-color: #8D2BFA; 

}

.frame-pictures{
width: 15%;
height: auto;
margin: 0px 5px;

}

.frame-pictures img{
width: 99.9%;

}
.skill-box{
justify-content: center;
margin-top: 10px;
}

#border-radius{
width: 150%;
margin-left: -20px;
}

.color_to_skill_box{
background-color: #F7AA0F;
}





}

