/* Google-fonts: */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');


/* #8D2BFA */
/* CSS-variables for colors and typographys: */ 


*{
 box-sizing: border-box;   
}

body{
margin: 0;
padding: 0;   

}


:root{
    --main-button-font: 'Roboto Slab', serif;
    --main-header-font: 'Playfair Display', serif;
    --main-text-font: 'Peddana', serif;
    }

@media screen and (max-width:1024px){

    :root{
        --main-button-font: 'Roboto Slab', serif;
        --main-header-font: 'Playfair Display', serif;
        --main-text-font: 'Peddana', serif;
        }

    .menu li, a {
        color: white;
        list-style: none;
        text-decoration: none;
        font-family: var(--main-headingfont);
        }
     
        
        .header{
            background-color:#8D2BFA;
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
            position: fixed;
            width: 100%;
            z-index: 3;
            border-bottom: 1px solid white;
        }
        
        .header ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        
            
        }
        
        .header ul a{
        display: block;
        outline: 1px solid crimson;
        outline-style:solid;
        padding: 20px;
      
        }
        
        .header ul a:hover{
        background-color:crimson;
        color: white;
        }
        
        .header .logo{
        float: left;
        display: block;
        }
        
        .header .menu{
        clear: both;
        max-height: 0;
        transition:max-height .2s ease-out;
            
        }
        
        #logo{
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 18px;
      border: 1px solid white;
        }
        
        .header .menu-icon{
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;
        }
        
        
        .header .menu-icon .nav-icon{
        background-color: white;
        display: block;
        height: 2px;
        top: 5px;
        width: 18px;
        position: relative;
        transition:background 2.s ease-out;
        }
        
        .header .menu-icon .nav-icon:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition:all .2 ease-out;
        top: 10px;
        background: white;
        }
        
        .header .menu-icon .nav-icon:after{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 5px;
        position: absolute;
        transition:all .2 ease-out;
        background:white;
            
        /* check her */
        }
        
        .header .menu-button{
            display: none;
                
            }
        
        .header .menu-button:checked ~ .menu{
        max-height: 350px;    
        }

    .main-frame_container{
    width: 100%;
    height: auto;
    background-color: #8D2BFA;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    }

    .content-box{
    width: 90%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    }
#margintop{
 margin-top: 70px;

}

.main-header{
 font-family: var(--main-header-font);
 color: white;
    }

    .main-text{
        font-family: var(--main-text-font);   
        color: white; 
        margin-top: -3px;
    }

    .sub-headers{
    font-family: var(--main-header-font);
    color: white;
    }

.unorderedList{
font-family: var(--main-text-font);
color: white;
display: flex;
flex-flow: column;
align-items:flex-start;
margin-top: 0;
margin-left: 0;
}

.Listitems{
margin-left: -22px;
}

.content_show{
width: 100%;
height: auto;
display: flex;
flex-flow: row wrap;
margin: 10px 0px;

}

#last{
    margin-bottom: 10px;
}

.box1{
width: 40%;
height: auto;
background-color: #57B7CB;
border-top: 1px solid #E4E6ED;
display: flex;
flex-flow: row;
justify-content: center;
align-items: center;
}
.box2{
width: 60%;
height: auto;
border-top: 1px solid #E4E6ED;
background-color: #FFFFFF;
display: flex;
flex-flow: column;
align-content: center;
justify-content: center;

}

.table_heading{
font-family: var(--main-header-font);
color: white;
}

.text-color{
color: black;
width: 80%;
margin: auto;
margin-top: 25px;
}




}