/* Google-fonts: */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

/* CSS-variables for colors and typographys: */ 

:root{
--main-button-font: 'Roboto Slab', serif;
--main-header-font: 'Playfair Display', serif;
--main-text-font: 'Kanit', sans-serif;
}

*{
 box-sizing: border-box;   
}

body{
margin: 0;
padding: 0; 
background-image: linear-gradient(90deg,rgba(35, 47, 61, 0.8), rgba(35, 47, 61, 1)), url("/images/background-flipped.jpg");
background-size: cover;
width: 100%;

}



@media only screen and (min-width: 1025px) {
.header{
display: none;
}

.navigation{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid white;
    background-color: #FF3366;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
    }
    
    .navigation img{
    margin-left: 60px;
    }
    
    .nav-list{
    display: flex;
    width: 500px;
    justify-content: space-around;
    color: white;
    list-style-type: none;
    text-decoration: none;
    margin-right: 100px;
    }
    
    .nav-list a{
    text-decoration: none;
    color: white;
    font-family: var(--main-header-font);
    }
    
    .nav-list a:hover{
    color: black;
    }
    

.picture{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
   }
   
   #backgroundImg{
   width: 99.99%;
   height: auto;
   }

   #buttons-box{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    }
    
    #buttons-box button{
        padding: 10px 30px;
        color: white;
        background-color: transparent;
        border: 2px solid crimson;
        font-size: 0.5rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        margin-top: 30px;
        transition: .3s ease background-color;
        transition-property: background-color, color;
        margin: 0px 5px;
        font-family: var(--main-button-font);
    
    }
    
    #buttons-box button:hover{
        color: black;
        background-color: crimson; 
    }
    
    .heading{
     font-family: var(--main-header-font);   
     text-align: center;
     font-size: 1.3rem;
     color: white;
     display: none;
     margin: 0;
     padding-bottom: 20px;
    
    }

    .portfoli-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        display: none;

        }
        
        .portfolio-box{
        width: 33%;
        height: auto;
        border: 2px solid white;
        background: #FFFFFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.455), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        margin: 20px 10px;
        display: flex;
        flex-flow: column;
        font-family: var(--main-text-font);
        }
        
        .portfolio-box:hover{
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.87), 0 10px 10px rgba(0, 0, 0, 0.898);  
        
        }
        
        
        .portfolio-box img{
        width: 99.99%;
        height: 200px; 
        }
        
        .CTAProjects{
        font-family: var(--main-button-font); 
        padding: 10px 30px;
            color: black;
            background-color: transparent;
            border: 2px solid crimson;
            font-size: 0.5rem;
            letter-spacing: .1rem;
            margin-top: 30px;
            transition: .3s ease background-color;
            transition-property: background-color, color;
            margin: 10px 5px;
            font-family: var(--main-button-font);
        }
        
        .CTAProjects:hover{
            color: black;
            background-color: crimson;   
        }
        
        .headingProjects{
         font-family: var(--main-header-font);  
         margin-left: 4%;
        }
        
        .projectsText{
         font-family: var(--main-text-font);  
         margin: 2% 4%;
         font-size: 15px;
         line-height: 1.5;
        }
        
        .black {
         font-weight: bold;
        }
        
        
        .portfolio-box a{
        width: 100%; 
        border: 1px solid white;
        }
        
    
    .button-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    
    
}


@media screen and (max-width:1024px){

    .navigation{
        display: none;
        }
    
        *{
         box-sizing: border-box;   
        }
        
        body{
        margin: 0;
        padding: 0;   
        background-image: linear-gradient(90deg,rgba(35, 47, 61, 0.8), rgba(35, 47, 61, 1)), url("/images/background-flipped.jpg");
        background-size: cover;
        
        }
        
        

    .menu li, a {
        color: white;
        list-style: none;
        text-decoration: none;
        font-family: var(--main-headingfont);
        }
     
        
        .header{
            background-color: #FF3366;
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
            position: fixed;
            width: 100%;
            z-index: 3;
            border-bottom: 1px solid white;
        }
        
        .header ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        
            
        }
        
        .header ul a{
        display: block;
        outline: 1px solid crimson;
        outline-style:solid;
        padding: 20px;
      
        }
        
        .header ul a:hover{
        background-color:crimson;
        color: white;
        }
        
        .header .logo{
        float: left;
        display: block;
        }
        
        .header .menu{
        clear: both;
        max-height: 0;
        transition:max-height .2s ease-out;
            
        }
        
        #logo{
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 18px;
      border: 1px solid white;
        }
        
        .header .menu-icon{
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;
        }
        
        
        .header .menu-icon .nav-icon{
        background-color: white;
        display: block;
        height: 2px;
        top: 5px;
        width: 18px;
        position: relative;
        transition:background 2.s ease-out;
        }
        
        .header .menu-icon .nav-icon:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition:all .2 ease-out;
        top: 10px;
        background: white;
        }
        
        .header .menu-icon .nav-icon:after{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 5px;
        position: absolute;
        transition:all .2 ease-out;
        background:white;
            
        /* check her */
        }
        
        .header .menu-button{
            display: none;
                
            }
        
        .header .menu-button:checked ~ .menu{
        max-height: 350px;    
        }
    
.picture{
 width: 100%;
 height: auto;
 display: flex;
 flex-flow: row;
 align-items: flex-end;
}

#backgroundImg{
width: 99.99%;
height: auto;
}

#buttons-box{
width: 100%;
height: 100px;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
}

#buttons-box button{
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 0.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
    margin: 0px 5px;
    font-family: var(--main-button-font);

}

#buttons-box button:hover{
    color: black;
    background-color: crimson; 
}

.heading{
 font-family: var(--main-header-font);   
 text-align: center;
 font-size: 1.3rem;
 color: white;
 display: none;
 margin: 0;
padding: 10px;
}

.portfoli-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    display: none;
    }
    
    .portfolio-box{
    width: 70%;
    height: auto;
    border: 2px solid white;
    background: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.455), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 20px 10px;
    display: flex;
    flex-flow: column;
    font-family: var(--main-text-font);
    }
    
    .portfolio-box:hover{
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.87), 0 10px 10px rgba(0, 0, 0, 0.898);  
    
    }
    
    
    .portfolio-box img{
    width: 99.99%; 
    }
    
    .CTAProjects{
    font-family: var(--main-button-font); 
    padding: 10px 30px;
        color: black;
        background-color: transparent;
        border: 2px solid crimson;
        font-size: 0.5rem;
        letter-spacing: .1rem;
        margin-top: 30px;
        transition: .3s ease background-color;
        transition-property: background-color, color;
        margin: 10px 5px;
        font-family: var(--main-button-font);
    }
    
    .CTAProjects:hover{
        color: black;
        background-color: crimson;   
    }
    
    .headingProjects{
     font-family: var(--main-header-font);  
     margin-left: 4%;
    }
    
        .projectsText{
            font-family: var(--main-text-font);  
            margin: 2% 4%;
            font-size: auto;
            line-height: 1.5;
           }
           
    
    
    .black {
     font-weight: bold;
    }
    
    
    .portfolio-box a{
    width: 100%; 
    border: 1px solid white;
    }
    

.button-box{
width: 100%;
height: auto;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
text-align: center;
}


}

